.demo-toggle
  cursor pointer
  display none
  width 46px
  height 46px
  position fixed
  top 50%
  transform translateY(-50%)
  z-index 1000
  background-color transparent

  @media $mobile
    display block

  &::before
    content ''
    background-image url(../images/cog.svg)
    background-repeat no-repeat
    background-position center
    background-size 24px 24px
    width 46px
    height 46px
    position absolute
    animation rotate 5s infinite linear

.demo-panel
  display none
  background #fff
  border-radius 0
  box-shadow 0 2px 60px 0 rgba(0,0,0,.05)
  position fixed
  bottom 0
  left 0
  padding 30px 30px 20px
  transform translateX(-100%)
  z-index 1000
  max-height 100vh

  @media $mobile
    display block

  &.show
    transform translateX(0)

  &__close
    display flex
    align-items center
    justify-content center
    width 30px
    height 30px
    position absolute
    top 0
    right 0
    cursor pointer
    opacity 1
    transition opacity 200ms ease-in-out
    z-index 10

    &:hover
      opacity 0.5

    svg
      display block
      height 14px
      width 14px

  &__title
    font-size 1rem;
    letter-spacing .15rem
    margin-bottom 1.75rem
    text-transform uppercase

  &__list
    margin-bottom 0

  &__list li
    margin 8px 0

  &__list li a
    display block
    white-space nowrap
