h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
  margin-top 0
  margin-bottom $headings-margin-bottom
  font-family $headings-font-family
  font-weight $headings-font-weight
  line-height $headings-line-height
  color $headings-color

  a
    display inline-block

h1, .h1
  font-size 1.75rem
  font-weight 500
  line-height 1.2

  @media $mobile
    font-size $h1-font-size

h2, .h2
  font-size $h2-font-size
h3, .h3
  font-size $h3-font-size
h4, .h4
  font-size $h4-font-size
h5, .h5
  font-size $h5-font-size
h6, .h6
  font-size $h6-font-size

h4, h5, h6
  margin-bottom 1rem

p
  font-weight 500
  margin 0 0 1.5rem

  &.lead
    font-weight 600
    font-size 1.25rem

.text-gray
  color $gray-500

ol, ul
  font-weight 500
  padding-left 1rem
  margin-bottom 1.5rem

.list-unstyle,
.list-unstyled
  font-weight normal
  padding 0
  margin 0
  list-style none

.list-inline
  display inline-flex
  flex-wrap wrap
  line-height initial

  > *
    margin 0.25rem

figure
  margin 0 0 1rem

blockquote
  font-weight 500
  font-size 1.25rem
  line-height 1.5
  padding-left 1.75rem
  margin 1.5rem 0 1.75rem
  border-left 1rem solid $gray-200
  color $gray-600

.text-through
  text-decoration line-through

hr
  border none
  border-bottom 1px solid $gray-200
  margin-bottom: 3rem

.divider-horizontal
  display flex
  align-items center

  &::before
  &::after
    content ''
    border-top 1px solid $gray-200
    flex-grow 1

  &::before
    margin-right 1.25rem

  &::after
    margin-left 1.25rem

font-sizes = {
  xs: 12px,
  sm: 14px,
  md: 1rem,
  lg: 1.125rem,
  xl: 1.25rem
}

font-weights = {
  light: 300,
  normal: 500,
  sm: 600,
  bold: 700,
  extra: 800,
  black: 900
}

for size, value in font-sizes
  .font-size-{size}
    font-size value

for weight, value in font-weights
  .font-weight-{weight}
    font-weight value
