<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="MobileOptimized" content="320">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Julia Biesiada &middot; aktorka</title>
  <meta name="description" content="Julia Biesiada &ndash; aktorka">
  <!-- Disable tap highlight on IE-->
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="msapplication-TileImage" content="assets/images/touch/ms-touch-icon-144x144-precomposed.png">
  <!-- Add to homescreen for Chrome on Android-->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Julia Biesiada &ndash; aktorka">
  <link rel="icon" sizes="192x192" href="assets/images/touch/chrome-touch-icon-192x192.png">
  <!-- Add to homescreen for Safari on iOS-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Julia Biesiada">
  <link rel="apple-touch-icon" href="assets/images/touch/apple-touch-icon.png">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700%7CPlayfair+Display:300,400,500,600,700" rel="stylesheet">

  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/css/material-icons.css" rel="stylesheet">
  <link href="assets/css/photoswipe.css" rel="stylesheet">
  <link href="assets/css/photoswipe-default.css" rel="stylesheet">
  <link href="assets/css/swiper.min.css" rel="stylesheet">
  <link href="assets/css/animate.min.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>
  <div class="overlay" style="display: none;"></div>
  <div class="menu">
    <nav class="menu__items">
      <a href="o-mnie.html" class="menu__route">O mnie</a>
      <a href="zdjecia.html" class="menu__route">Zdjęcia</a>
      <a href="zdjecia.html" class="menu__route">Kalendarz</a>
      <a href="demo.html" class="menu__route">Demo</a>
      <a href="kontakt.html" class="menu__route">Kontakt</a>
    </nav>
  </div>

  <div class='page-over'>
    <div class="page-over__block"></div>
  </div>

  <div id="barba-wrapper">
    <div class="barba-container">
      <a href="#" class="toggle-menu" style="display: none">
        <span class="toggle-menu__bar"></span>
        <span class="toggle-menu__bar"></span>
        <span class="toggle-menu__bar"></span>
      </a>

      <header class="header">
        <a href="index.html" class="header__logo ">

          <span class="header__logo-name">Julia Biesiada</span>
          <span class="header__logo-slogan">Aktorka</span>
        </a>
      </header>

      <main class="main">
        {{ content }}
      </main>

      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 text-center">
              <a href="mailto:kontakt@juliabiesiada.pl" class="footer__contact">
                <span class="name">Julia Biesiada</span>
                <span class="slogan d-none d-lg-block">kontakt@juliabiesiada.pl</span>
              </a>
            </div>
          </div>
        </div>
      </footer>

    </div>
  </div>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3gFKhVywUkygSxQEBdGVrI5-ZRrdjueA"></script>

  <script src="assets/js/vendor/barba.min.js"></script>
  <script src="assets/js/vendor/popmotion.global.min.js"></script>
  <script src="assets/js/vendor/popmotion-pose.js"></script>
  <script src="assets/js/vendor/popper.min.js"></script>
  <script src="assets/js/vendor/jquery.min.js"></script>
  <script src="assets/js/vendor/bootstrap.min.js"></script>
  <script src="assets/js/vendor/jquery.countdown.min.js"></script>
  <script src="assets/js/vendor/jquery.mousewheel.js"></script>
  <script src="assets/js/vendor/swiper.min.js"></script>
  <script src="assets/js/vendor/ofi.min.js"></script>
  <script src="assets/js/vendor/photoswipe.min.js"></script>
  <script src="assets/js/vendor/photoswipe-ui-default.min.js"></script>
  <script src="assets/js/vendor/retina.min.js"></script>
  <script src="assets/js/vendor/skrollr.min.js"></script>
  <script src="assets/js/core.js"></script>

</body>

</html>
